* {
    padding: 0;
    margin: 0;
  }
  
  .fabs {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  
  .action {
    background: rgb(255, 0, 128);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 5px 7px 0px gray;
    transition: background-color 0.4s ease-in-out;
  }
  
  .action i {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
  }
  
  .action:hover {
    background-color: rgb(255, 103, 179);
  }
  
  .btnw {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  
  .btnw i {
    position: absolute;
    font-size: 18px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btns {
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
    height: 35px;
    width: 35px;
    transition: 0.3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .btns.open {
    bottom: 50px;
  }
  